/target
.env
release/flx-nocode-aarch64-apple-darwin
release/flx-nocode-x86_64-apple-darwin
release/flx-nocode-x86_64-pc-windows-gnu.exe
release/*
.DS_Store
configmftl
__MACOSX
static
build_apple.sh
.idea
